:root {
  --lime-green: #35fd06;
  --light-lime-green: #b8f992;
  --coral: #ff7575;
  --purple: #a5abff;
  --pink: #f1b6c6;
  --light-gray: #808080;
  --med-gray: #534f4f;
  --dark-gray: #3a3939;
  --background-lighter: #272626;
  --background-darker: #161515;
  --slide-background: #1a1919;
  --black: #000000;
}

* {
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

body {
  color: var(--lime-green);
  font-family: Courier, 'Courier New', monospace;
  background: linear-gradient(var(--background-lighter), 90%, var(--background-darker));
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main {
  flex: 1;
  width: min(900px, calc(100vw - 25px));
  margin: 0 auto;
}

h1 {
  margin-top: 70px;
  margin-bottom: 15px;
  font-size: 70px;
  font-weight: 300;
}

h2 {
  font-size: 25px;
  font-weight: 300;
  color: var(--coral);
}

a {
  text-decoration: none;
  color: var(--lime-green);
}
a:hover {
  color: var(--light-lime-green);
}

#contribute-example {
  display: block;
  text-align: right;
  margin-top: 20px;
  font-size: 20px;
}

.blink {
  animation: opacity 1s step-end infinite;
  opacity: 1;
}
@keyframes opacity {
  0% {
      opacity: 1;
  }
  50% {
      opacity: 0;
  }
  100% {
      opacity: 1;
  }
}


.select-lang {
  font-size: 25px;
  margin-top: 120px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding: 20px 25px;
  background: var(--med-gray);
  border: 3px ridge var(--pink);
  border-radius: 10px;
  width: 300px;
}

.select-lang ul {
  list-style-type: none;
  margin-top: 5px;
  margin-left: 5%;
  display: none;
  width: 300px;
  position: absolute;
  border-radius: 10px;
}

.select-lang ul li {
  border-radius: 10px;
  margin-left: 0%;
  padding: 5px;
}

.select-lang:hover ul {
  display: block;
  background: var(--dark-gray);
  border: 1px solid var(--pink);
}

/* when hovering over list elements, flip the background to pink and text to black */
.select-lang:hover ul li:hover {
  background: var(--pink);
  color: var(--black);
  margin-left: 0%;
}


.slide-box {
  height: 400px;
  border:5px solid var(--purple);
  border-radius: 10px;
  background-color: var(--slide-background);
}





.footer-icon-container {
  display: flex;
  justify-content: center;
  margin-top: 7rem;
  background-color: var(--background-darker);
}

.footer-icon {
  margin: 1.4rem 1rem 2rem 1rem;
  color: var(--light-gray);
}
.footer-icon:hover {
  margin: 1.4rem 1rem 2rem 1rem;
  color: var(--light-lime-green);
}




.nav-slides {
  display: flex;
  align-items: center;
  justify-content: center;
}

button {
  background-color: transparent;
  border: none;  /* border: 1px solid yellow; */
  cursor: pointer;
  outline: none;
}
button:disabled {
  cursor: not-allowed;
}
button:hover {
  color: var(--light-lime-green);
}


button:disabled .prev-next {
  color: var(--light-gray);
}

.copy-url {
  color: var(--lime-green);
  font-size: 20px;
  margin:10px;
}
button:hover .copy-url {
  color: var(--light-lime-green);
}

.prev-next {
  margin: 10px;
  font-size: 50px;
  color: var(--lime-green);
}
.prev-next:hover {
  color:  var(--light-lime-green);
}
.fa-chevron-right {
  margin-left: 250px;
}
.fa-chevron-left {
  margin-right: 250px;
}

.slide-num {
  color: var(--light-gray);
  font-size: 23px;
  margin-right:20px;
}