:root {
  --lime-green: #35fd06;
  --light-lime-green: #b8f992;
  --coral: #f99d9e;
  --purple: #7982f9;
  --slide-background: #1e1e1e;
}

* {
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

body {
  color: var(--lime-green);
  font-family: Courier, 'Courier New', monospace;
  background: rgb(39, 38, 38);
  background: linear-gradient(rgb(39, 38, 38), 90%, rgb(22, 21, 21));
  background-repeat: no-repeat;
  height: 100%;
  margin: 0;
  background-attachment: fixed;
}

h1 {
  margin: 70px 50px 0px 65px;
  font-size: 70px;
  font-weight: 300;
}

.blink {
  animation: opacity 1s step-end infinite;
  opacity: 1;
}
@keyframes opacity {
  0% {
      opacity: 1;
  }
  50% {
      opacity: 0;
  }
  100% {
      opacity: 1;
  }
}

h2 {
  margin: 15px 50px 0px 65px;
  font-size: 25px;
  font-weight: 300;
}

nav {
  text-align: right;
  padding-top: 10px;
}

.menu li {
  display: inline;
}

.menu li a {
  color: var(--lime-green);
  text-decoration: none;
  font-size:large;
  padding: 10px;
  margin-right: 10px;
}


.select-lang {
  font-size: 25px;
  margin-top: 120px;
  margin-left: 65px;
  text-align: center;
  padding: 10px;
  background: rgba(70, 69, 69);
  border: 3px ridge var(--lime-green);
  border-radius: 10px;
  width: 300px;
  box-shadow: 1px 1px 1px 1px  rgba(104, 235, 39, 0.55);
}

.select-lang ul {
  list-style-type: none;
  margin-top: 5px;
  margin-left: 5%;
  display: none;
  width: 300px;
  position: absolute;
  border-radius: 10px;
}

.select-lang ul li {
  border-radius: 10px;
  margin-left: 0%;
  padding: 5px;
}

.select-lang:hover ul {
  display: block;
  background: rgba(58, 57, 57);
  border: 1px solid var(--lime-green);
}

/* when hovering over list elements, flip the background to green and text to black */
.select-lang:hover ul li:hover {
  background: var(--lime-green);
  margin-left: 0%;
}
.select-lang:hover ul li:hover {
  color: black;
}



.slide-container {
  margin: 100px;
  padding-left: 100px;
}
.example-container {
  width: 1000px;
  height: 400px;
  border:5px solid var(--purple);
  border-radius: 10px;

}

.nav-slides li {
  display: inline;
  margin-right: 20px;
  margin-top: 20px;
  padding-top: 20px;
}

.slide-num {
  color: gray;

}



.footer-icon-container {
  display: flex;
  justify-content: center;
  margin-top: 7rem;
  background-color: rgb(22, 21, 21);
}

.footer-icon {
  margin: 1.4rem 1rem 2rem 1rem;
  color: gray;
}
.footer-icon:hover {
  margin: 1.4rem 1rem 2rem 1rem;
  color: var(--light-lime-green);
}

.prev-next {
  margin: 20px;
  font-size: 40px;
  color: var(--lime-green);
}
.prev-next:hover {
  color:  var(--light-lime-green);
}